button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

  &:hover {

  }

  &:active,
  &:focus {

  }
}

.button {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  outline: 0;
  display: block;
}

.button--link {
  @extend .button;
  background: transparent;
}

.button--bordered-base {
  @include robotoFont(500);
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  color: $blueColor;
  background: transparent;
}

.button--block {
  width: 100%;
}

.button--small {
  padding: 13px;
}

.button--large {
  padding: 18px 30px;
}

.button--primary {
  background: $green;
  border-color: $green;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }

}
