#site-footer {
  background: #545E6B;
  padding: 55px 0;
  @media screen and (max-width: $screen-sm-max) {
    padding: 25px 0;
  }
}

.logotype--link {
  width: 68px;
  height: 68px;
  background: transparent url(../images/logotype.png) no-repeat 0 0;
  background-size: 68px 68px;
  display: block;
  float: left;
  margin-right: 15px;

  @media screen and (max-width: $screen-sm-max) {
    float: none;
    margin: 0 auto;
    display: table;
    text-align: center;
  }
}

.logotype--wrapper {
  margin: 0;

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

#site-footer .list-widget {
  display: inline-block;
  margin: 0 30px;

  .h3 {
    margin-top: 0;
    color: #fff;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin: 25px 0;
    width: 33.3%;
    display: block;
    float: left;
  }

}

.language-link {
  vertical-align: top;
  display: inline-block;
  &__text {
    vertical-align: text-bottom;
  }
  .icon--arrow__down {
    vertical-align: super;
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

}
