#site-header {
  height: 100px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  @extend .u-horizontalCenter;

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px 0;
    height: auto;
    display: block;

    .logo-brand {
      text-align: center;
    }
  }

}
