.site-nav {

  &__item {
    margin-right: 40px;
    vertical-align: sub;
  }

  @media screen and (max-width: $screen-sm-max) {

    padding: 20px 0 0;

    .u-horizontal li {
      display: block;
    }

    &__item {
      margin-right: 0;
      display: block;
      vertical-align: middle;
      margin-bottom: 10px;
    }
  }

}
