.slick-prev {
  display: none !important;
  visibility: hidden;
}

.slick-next {
  background: transparent;
  border: 0;
  padding: 0;
  position: relative;
  top: 50%;
  outline: 0;
}

.slick-button-wrap {
  height: 433px;
  position: absolute;
  right: 150px; top: 50%;
  margin-top: -216px;
  @media screen and (max-width: $screen-sm-max) {
    display: none !important;
  }
  @media screen and (max-width: $screen-md-max) {
    right: 100px;
  }
}

.slick-dots {
  margin: -80px 0 0;

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 0 30px;
  }

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin: -140px 0 0;
  }

  li {
    margin: 0 5px;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;

    button {
      font-size: 0; line-height: 0;
      cursor: pointer;
      border: 0; outline: 0;
      margin: 0; padding: 0;
      width: 6px; height: 6px;
      opacity: 0.2;
      border-radius: 50%;
      background: $greyColor;
      vertical-align: middle;
    }

    &.slick-active {
      button {
        opacity: 1;
        background: $blueColor;
        border: 4px solid $blueColor;
      }
    }

  }

}
