body {
  background: #fff;
  @include robotoFont();
  font-size: 16px;
  line-height: 25px;
  color: $greyColor;
}

a {
  color: $greyColor;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $greyColor;
  }
}
