/**
* Pixel2HTML - FeTest
* Screen 1
*/

#promo {
  text-align: center;
  padding: 100px 0 125px;

  @media screen and (max-width: $screen-md-max) {
    padding: 50px 0 50px;
  }

  .promo__header {
    max-width: 700px;
    margin: 0 auto 60px;
    @media screen and (max-width: $screen-md-max) {
      margin-bottom: 30px;
    }
  }

  .promo__figure {
    margin: 0 0 60px;

    @media screen and (max-width: $screen-md-max) {
      margin-left: 15px;
      margin-right: 15px;
    }

    img {
      @extend .img-fluid;
    }

  }

  .promo__col--item {
    text-align: left;
    display: table;

    .icon {
      display: table-cell;
      margin-right: 20px;
    }

    .caption {
      display: table-cell;
      vertical-align: top;

      p {
        margin: 0 70px 10px 0;
      }
    }

    .promo__col--item-title {
      margin-top: 0;
    }

  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .promo__col--item {
      display: block;

      .icon {
        display: block;
        margin-right: 0;
      }

      .caption {
        display: block;
        padding-top: 10px;
      }

    }
  }

  @media screen and (max-width: $screen-xs-max) {
    .promo__col--item {
      display: block;
      text-align: center;
      margin: 15px 0;
      padding-bottom: 15px;

      .icon {
        display: inline-block;
        margin-right: 0;
      }

      .caption {
        border-bottom: 1px solid #f4f4f4;
        display: block;
        padding: 15px;
        p {
          margin: 0;
        }
      }

    }
  }

}

.content-slider {
  margin: 60px 0;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $screen-sm-max) {
    margin: 0;
  }

  .content-slider__item {
    min-height: 433px;
    outline: 0;
    @media screen and (max-width: $screen-sm-max) {
      min-height: 150px;
    }
  }

  .content-slider__figure {
    background-color: transparent;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .content-slider__item--1 .content-slider__figure {
    height: 433px;
    background-image: url(../images/figure_powerful_extensions@2x.png);
    @media screen and (max-width: $screen-sm-max) {
      height: 150px;
    }
  }

  .content-slider__text {
    height: 433px;
    @media screen and (max-width: $screen-sm-max) {
      height: auto;
    }
  }
}

.price-tables-section {
  background: #F9F9F9;
  padding: 120px 0 0;

  @media screen and (max-width: $screen-md-max) {
    padding: 60px 0 0;
  }

  .section-header {
    margin-bottom: 80px;
  }

  .price-table-wrap {
    margin: 0 15px 120px;
    border-radius: 6px;
    position: relative;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    overflow: hidden;
  }

  .price-table {
    padding: 0 30px;
    border-right: 1px solid #F4F4F4;
    text-align: center;
    background: #fff;
    position: relative;

    @media screen and (max-width: $screen-md-max) {
      padding: 0 15px;
      &:not(:last-child) {
        border-bottom: 1px solid #f4f4f4;
      }
    }

    &__header {
      height: 94px;
      .tag {
        margin-top: 0;
        margin-bottom: 7px;
      }
      p { margin-bottom: 0; }
    }

    &__header,
    &__description {
      position: relative;
      flex-direction: column;
      @extend .u-horizontalCenter;
      &:after {
        width: 100%;
        height: 0;
        position: absolute;
        left: 0; right: 0;
        bottom: 0;
        content: '';
        border-bottom: 1px solid #E1E8EE;
      }
    }

    .price {
      margin-top: 0;
      line-height: 52px;
    }

    &.price-table--for-business {
      background: #39ADD1;
      border-right: 0;

      .price-table__header:after,
      .price-table__description:after {
        opacity: 0.2;
        border-color: #fff;
      }

      .tag,
      .price,
      .caption,
      .price-table__header p,
      .price-table__description p {
        color: #fff;
      }

      .price-table__header p,
      .price-table__description p {
        opacity: 0.6;
      }

      .caption {
        opacity: 0.7;
      }

      .price-table__properties {
        color: #fff;
      }
    }
  }

  .price-table__description {
    height: 215px;
    span { display: block; }
  }

  .price-table__properties {
    text-align: left;
    padding-top: 10px;

    &--item {
      line-height: 25px;
      padding: 10px 0 10px 30px;
      position: relative;
      &:before {
        width: 16px;
        height: 11px;
        position: absolute;
        left: 0; top: 50%;
        margin-top: -6px;
        content: '';
        background: transparent url('../icons/SVG/check.svg') no-repeat left center;
        background-size: 16px 11px;
      }

      &_disable {
        font-size: 14px;
        color: #BFC7CE;
        &:before {
          display: none;
        }
      }
    }
  }

  .price-table__action {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tag-xs {
    margin: 0;
    padding: 0 0 5px;
    color: $blueColor;
  }

  .caption { margin-bottom: 25px; }

}

.call-to-action-section {
  background: $grayishBlue;
  margin-top: -250px;
  padding: 230px 0 130px;

  .h1 {
    color: #fff;
  }

  .sub-title-xl {
    margin-bottom: 40px;
  }

  .button {
    margin-bottom: 80px;
    display: inline-block;
  }

  .tag {
    opacity: 0.6;
    letter-spacing: 0;
    margin-bottom: 25px;
  }

  .logos__item {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $screen-sm-max) {
    & {
      padding-bottom: 75px;
    }

    .u-horizontalCenter {
      display: block;
    }

    .logos__item {
      margin: 0 0 35px;
      display: block;
    }
  }

}
