h1, .h1 {
  @include robotoFont(300);
  font-size: 52px;
  line-height: 58px;
  color: $blackColor;
  letter-spacing: -2px;

  @media screen and (max-width: $screen-md-max) {
    font-size: 36px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: $screen-md-max) {
  h2, .h2 {
    font-size: 25px;
  }
}

h3, .h3 {
  @include robotoFont();
  font-size: 18px;
  line-height: 25px;
  color: $blackColor;
}

.sub-title-x1 {
  @include robotoFont(300);
  font-size: 22px;
  line-height: 32px;
  color: $grayishBlue;

  @media screen and (max-width: $screen-md-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tag {
  @include robotoFont(600);
  letter-spacing: 1.29px;
}

.tag--xs {
  font-size: 14px;
  line-height: 14px;
}

.tag--sm {
  font-size: 18px;
  line-height: 18px;
}

.caption {
  font-size: 14px;
  line-height: 19px;
}
