.u-unstyled {
  list-style: none;
  margin: 0; padding: 0;
}

.u-horizontal li {
  display: inline-block;
  &:last-child {
    margin: 0;
    padding: 0;
  }
}

.u-horizontalCenter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.u-col-fluid {
  position: relative;
  left: 0; top: 0;
  padding: 0;
  overflow: hidden;
}

.valign {
  display: table;
}

.valign-md {
  display: table-cell;
  vertical-align: middle;
}

.u-alignCenter {
  text-align: center;
}
